{% extends "base.html" %}
{% block title %}Besquare Technologies{% endblock %}
{% block body %}
    <div class="container-fluid">
    <div class="row mt-">
    <div style="background: #0a53be; height: 580px;" class="col-sm-3">
        <ul></br>
        <li><a style="text-decoration: none; color: whitesmoke" href="{% url 'empdetails' %}">Employee Data</a></li></br>
        <li><a style="text-decoration: none; color: whitesmoke" href="{% url 'getemp' %}">Employee Salary</a></li></br>
         <li><a style="text-decoration: none; color: whitesmoke" href="{% url 'addexpenses' %}">Add Expenses</a></li></br>
            <li><a style="text-decoration: none; color: whitesmoke" href="{% url 'myview' %}">My View</a></li></br>
        </ul>
    </div>
    </div>
    </div>
{% endblock %}